[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/home/linuxbrew/.linuxbrew/bin
Environment=DISPLAY=:0
Type=simple
ExecStart=/usr/bin/sh -c 'exec /home/linuxbrew/.linuxbrew/bin/kanata --cfg /home/stefan-hacks/.config/kanata/kanata.kbd'
Restart=no

[Install]
WantedBy=default.target
